<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
</head>
<body>
  <header>
    <h1>{{ title }}</h1>
    <p>{{ myData }}</p>
    This is the header
  </header>
  <main>
    <div id="mapid" style="height: 600px; width: 800px"></div>
  </main>
  <footer>This is the footer</footer>
  
  <script>
    const map = L.map('mapid').setView([49.479076, -117.393192], 13);

    // L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    //   attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    //   maxZoom: 18,
    //   id: 'mapbox/streets-v11',
    //   tileSize: 512,
    //   zoomOffset: -1,
    //   accessToken: 'pk.eyJ1IjoiYXp1cmVrY2EiLCJhIjoiY2tkYnZkZWF1MHM5cjM0anF3OTQ0ZXh4eiJ9.g8mci0gNIvygdaSwYrg3Rw'
    // }).addTo(map);
    {% for listing in collections.blog %}
    L.marker([{{ listing.data.geo.coordinates[1] }}, {{ listing.data.geo.coordinates[0] }}]).addTo(map)
      .bindPopup("{{ listing.data.title }}");
    {% endfor %}
  </script>
 
  
  <!-- <script src="/static/js/map.js"></script> -->
</body>
</html>